name: Copy SECURITY.md

on:
  workflow_dispatch:
  push:
    paths:
      - SECURITY.md

jobs:
  copy_security:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Copy SECURITY.md
        run: |
          git config --global user.email "142604034+tryscabot@users.noreply.github.com"
          git config --global user.name "Trysca Automation"
          git clone https://github.com/trysca/trysca.git temp_repo
          cd temp_repo
          git remote set-url origin https://Trysca%20Automation:$PAT@github.com/trysca/.github.git
          mkdir -p ./.github/.github
          rm -f ./.github/.github/SECURITY.md
          cp ../SECURITY.md ./.github/.github/SECURITY.md
          git add .github/.github/SECURITY.md
          git commit -m "Update SECURITY.md from trysca"
          git push -f origin main
          cd ..
          rm -rf temp_repo

        env:
          PAT: ${{ secrets.PAT }}
