name: Copy SECURITY.md to .github repo

on:
  push:
    branches:
      - main

jobs:
  copy_security:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v2

      - name: Create .github/.github
        run: mkdir -p .github/.github

      - name: Copy SECURITY.md
        run: |
          cp SECURITY.md .github/.github/SECURITY.md

      - name: Commit changes
        run: |
          git config --local user.email "actions@github.com"
          git config --local user.name "GitHub Actions"
          git add .github/.github/SECURITY.md
          git commit -m "Update SECURITY.md from trysca"
          git push
